.main {
  position: relative;
}
.App {
  text-align: center;
  background: #1ca9eb;
  height: max-content;
  font-size: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
.container {
  padding: 20px;
  background-color: white;
  margin-top: 150px;
}

.wrpr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.wrpr span {
  font-size: 16px;
  color: rgb(59, 53, 53);
  letter-spacing: 0.7px;
  margin-bottom: 5px;
}

.wrprCnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.wrprCnt .element {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(185, 185, 185);
  font-size: 14px;
  letter-spacing: 0.7px;
  margin: 7px;
}
div.scrollmenu {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
}
div.scrollmenu::-webkit-scrollbar {
  display: none;
}

div.scrollmenu a {
  font-size: 18px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.sb-example-1 .search {
  width: 25%;
  position: relative;
  left: 38%;

  display: flex;
}
.sb-example-1 .searchTerm {
  width: 100%;
  border: 3px solid #1ca9eb;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.sb-example-1 .searchTerm:focus {
  color: #000000;
}
.sb-example-1 .searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #1ca9eb;
  background: #1ca9eb;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/* .sb-example-1 .searchButton i {
  color: #1ca9eb;
} */
